.wraper
  .wraper00.wid#wraper00
    .main.con00
      .tit
      .con.clearfix
        .fl.ly01
        .fl.ly02
          .wz
        .fl.ly03
          .wz
  .wraper01.wid#wraper01
    .main.con01
      .tit
        a.more(href='http://www.aoyou.com/search/b1-l116-pr669,670,671,672-sb2/', target='_blank') 更多精彩线路>>
      ul.con.clearfix#con01
        - if (redata)
          - if(redata.con01)
              !=redata.con01
  .wraper02.wid#wraper02
    .main.con02
      .tit
        a.more(href='http://www.aoyou.com/search/b1-sl8,1337-pr669,670,671,672-sb2/', target='_blank') 更多精彩线路>>
      ul.con.clearfix#con02
        - if (redata)
          - if(redata.con02)
              !=redata.con02
  .wraper05.wid#wraper05
    .main.con05
      a.tit(href='http://bbs.aoyou.com/thread-140875-1-1.html', target='_blank') 光大银行信用卡介绍 >>
      .con.clearfix#con05
        h3
          span 信用卡24小时客服电话：
          | 95595
        a(href='http://bbs.aoyou.com/thread-140875-1-1.html', target='_blank')
          img(src=publicsrc+'images/con05.png')
  .wraper06.wid#wraper06
    .main.con06
      .tit
        img(src=publicsrc+'images/tit06.png')
      .con.clearfix#con06
        p 活动期间，持光大银行北京地区发行的信用卡（借记卡除外）的持卡人，在中青旅遨游网使用光大银行信用卡接口（PC电脑端支付页面选择“有优惠”及“光大银行-信用卡”图标或手机WAP支付页面选择“银联快捷支付”），24小时内在线全额支付，方可享受团费立减优惠；
        table(border="1",align="center",cellpadding="0",cellspacing="0").table.table01
          tr
            th.w1 产品分类
            th.w2 立减方案
            th.w3 每单人数
            th.w4 每单最高立减
          //tr
          //  td.w1 日韩
          //  td.w2 1000元/人
          //  td.w3 参团产品最少1成人，<br>最多2成人；自由行产品2成人
          //  td.w4 2000元
          tr
            td.w1(rowspan="2",style="font-size: 31px; font-weight: bold;") 欧洲、澳新
            td.w2 1000元/人
            td.w3 参团产品最少1成人，<br>最多2成人；自由行产品2成人
            td.w4 2000元
          tr
            td.w2 2000元/人
            td.w3 参团产品最少1成人，<br>最多2成人；自由行产品2成人
            td.w4 4000元
          tr
            td(colspan="4",style="text-align:left;padding-left:17px;")
              p(style="text-align:center;margin:10px 0;") 光大银行符合活动条件的信用卡（卡号前六位）
              p 356839、356840、356862、356837、356838、356863、406252、406254、425862、437790、462427、470916、481513、481699、524090、543159、558890、519924、553431、524336、557007、525238、622161、622570、622650、622655、622657、622658、622659、622685、622687、622801、625339、625976、625977、625978、625979、625980、628201、628202、625981、625974、625975
        p(style="font-size: 18px; font-weight: bold; color: #8465f7;") *具体线路产品、产品对应优惠金额和人数限制以产品详情页优惠标签展示为准
        p *本活动限光大银行北京地区发行的信用卡参与，如支付出现问题，可能是卡种不符合活动要求，请和中青旅遨游联系，确认卡片是否符合活动条件（改成卡号前六位 、发卡地区）的要求，如符合即可参与活动享受优惠。
        p(style="margin-top:25px;") <b>活动细则：</b>
        p 每张银行卡每笔订单参团产品最少1成人，最多2成人；自由行产品2成人可享受团费立减优惠；
        p ·每张符合规定的光大银行信用卡活动期间仅可以享受一次优惠立减；
        p ·报名指定旅游产品方可享受团费立减优惠，以中青旅遨游产品展示为准；
        p ·产品立减名额有限，以中青旅遨游外网产品优惠标签展示为准，先到先得，满额为止；
        p ·遨游旅行APP端和中青旅门店仅支持报名和预定，须通过中青旅遨游PC电脑端或手机WAP页面使用光大银行信用卡接口支付方可享受优惠；其他支付方式不享受该优惠；
        p ·以上优惠仅限客户出发前享受，取消、退团或是已出发等个人原因造成均不能享受；
        p ·中青旅遨游"抢游惠"频道线路都已属于特价促销，均不再享受优惠立减；
        p ·本次活动立减价格仅限于成人团费，最终成行价格将根据所选出发日期、出行人数、住宿房型、交通以及所选附加服务的不同而有所不同，以中青旅遨游公布的实时价格为准。儿童价同行不享受优惠政策（儿童价标准以中青旅遨游网具体产品线路“费用说明”中公布为准）；
        p ·此活动不与中青旅遨游其他任何优惠活动同享，不可使用积分、电子优惠券和互通卡；
        p ·光大银行发行的VISA、Mastercard、JCB等单标信用卡，因刷卡结算问题，暂时无法参与此次活动，还请谅解，有相关问题可以联系光大银行或中青旅遨游进行咨询；
        p ·涉及旅游产品以及服务相关的问题和投诉由中青旅遨游负责，客户服务电话：400-600-6666（早8:30点到晚23点）。涉及光大银行相关办卡、用卡服务等事宜，咨询光大银行服务热线：95595。
        p *本活动规则由中青旅遨游和光大银行拥有最终解释权。
        p *本活动规则和优惠如有变动，请以中青旅遨游网站最新页面为准。
  .wraper07.wid#wraper07
      .main.con07
        .tit
          img(src=publicsrc+'images/tit07.png')
        .con.raiders.clearfix
          a(href='http://bbs.aoyou.com/thread-138249-1-1.html', target='_blank')
            img(src=publicsrc+'images/gl01.jpg')
          a(href='http://bbs.aoyou.com/thread-118877-1-1.html', target='_blank')
            img(src=publicsrc+'images/gl02.jpg')
          a(href='http://bbs.aoyou.com/thread-137385-1-1.html', target='_blank', style="margin-right:0")
            img(src=publicsrc+'images/gl03.jpg')
          a(href='http://bbs.aoyou.com/thread-119107-1-1.html', target='_blank')
            img(src=publicsrc+'images/gl04.jpg')
          a(href='http://bbs.aoyou.com/thread-140537-1-1.html', target='_blank')
            img(src=publicsrc+'images/gl05.jpg')
          a(href='http://bbs.aoyou.com/thread-138864-1-1.html', target='_blank', style="margin-right:0")
            img(src=publicsrc+'images/gl06.jpg')
        .tit
          img(src=publicsrc+'images/tit08.png')
        include activity
