.wraper
  .wraper01.wid#wraper01
    .main.con01
      ul.con.clearfix#con01
        - if (redata)
          - if(redata.con01)
              !=redata.con01
  .wraper02.wid#wraper02
    .main.con02
      ul.clearfix.tab.tab01
        li.on(data-titleid="7246",style="border:0;") 2天行程
        li(data-titleid="7247") 3天行程
        li(data-titleid="7248") 4天行程
        li(data-titleid="7249") 5天行程
      ul.con.clearfix#con02
        - if (redata)
          - if(redata.con02)
              !=redata.con02
      .tit
        a.more(href='http://www.aoyou.com/search/b1-l277/', target='_blank') 更多线路>>
  //.wraper03.wid#wraper03
  //  .main.con03
  //    ul.clearfix.tab.tab02
  //      li.on(data-titleid="7250",style="border:0;") 3天行程
  //      li(data-titleid="7251") 4天行程
  //      li(data-titleid="7252") 5天行程
  //      li(data-titleid="7253") 6天行程
  //    ul.con.clearfix#con03
  //        - if (redata)
  //            - if(redata.con03)
  //                !=redata.con03
  .wraper03.wraper04.wid#wraper04
    .main.con03
      .tit
        //a.more3(href='http://www.aoyou.com/search/b1-sf4/', target='_blank') 更多清明节产品>>
      ul.clearfix.tab.tab03
        li.on(data-titleid="7254",style="border:0;") 3天行程
        li(data-titleid="7255") 4天行程
        li(data-titleid="7256") 5天行程
        li(data-titleid="7257") 6天行程
      ul.con.clearfix#con04
        - if (redata)
          - if(redata.con04)
              !=redata.con04
  .wraper03.wraper05.wid#wraper05
    .main.con03
      .tit
        a.more3(href='http://www.aoyou.com/search/b1-sf5/', target='_blank') 更多劳动节产品>>
      ul.clearfix.tab.tab04
        li.on(data-titleid="7258",style="border:0;") 3天行程
        li(data-titleid="7259") 4天行程
        li(data-titleid="7260") 5天行程
        li(data-titleid="7261") 6天行程
      ul.con.clearfix#con05
        - if (redata)
          - if(redata.con05)
              !=redata.con05
  .wraper03.wraper06.wid#wraper06
    .main
      .tit
        a.more3.more6(href='http://www.aoyou.com/search/b1-sf6/', target='_blank') 更多端午节产品>>
      ul.clearfix.tab.tab06
        li.on(data-titleid="page1") 赏花
        li(data-titleid="page2") 亲子
        li(data-titleid="page3") 情侣
        li(data-titleid="page4") 闺蜜
        li(data-titleid="page5") 特色酒店
        //li(data-titleid="page6") 自驾
      .main
        .first-page.on#page1
          a(href='http://www.aoyou.com/domesticgroup/g37957i2', target='_blank')
            img(src=publicsrc+"images/image001.png")
          a(href='http://www.aoyou.com/domesticgroup/g110197i2', target='_blank')
            img(src=publicsrc+"images/image002.png")
          a(href='http://www.aoyou.com/domesticgroup/g107001i2', target='_blank')
            img(src=publicsrc+"images/image003.png")
          a(href='http://www.aoyou.com/domesticgroup/g103669i1', target='_blank')
            img(src=publicsrc+"images/image004.png")
          a(href='http://www.aoyou.com/domesticgroup/g112193i1', target='_blank')
            img(src=publicsrc+"images/image005.png")
        .first-page#page2
          a(href='http://www.aoyou.com/domesticgroup/g103207i1', target='_blank')
            img(src=publicsrc+"images/image006.png")
          a(href='http://www.aoyou.com/domesticpackage/p78877i2', target='_blank')
            img(src=publicsrc+"images/image007.png")
          a(href='http://www.aoyou.com/domesticpackage/p9797i1', target='_blank')
            img(src=publicsrc+"images/image008.png")
          a(href='http://www.aoyou.com/domesticpackage/p78315i2', target='_blank')
            img(src=publicsrc+"images/image009.png")
          a(href='http://www.aoyou.com/domesticgroup/g68102i2', target='_blank')
            img(src=publicsrc+"images/image010.png")
        .first-page#page3
          a(href='http://www.aoyou.com/domesticpackage/p68625i2', target='_blank')
            img(src=publicsrc+"images/image011.png")
          a(href='http://www.aoyou.com/domesticpackage/p87773i2', target='_blank')
            img(src=publicsrc+"images/image012.png")
          a(href='http://www.aoyou.com/domesticpackage/p109226i2', target='_blank')
            img(src=publicsrc+"images/image013.png")
          a(href='http://www.aoyou.com/domesticpackage/p29354i2', target='_blank')
            img(src=publicsrc+"images/image014.png")
          a(href='http://www.aoyou.com/domesticpackage/p74156i2', target='_blank')
            img(src=publicsrc+"images/image015.png")
        .first-page#page4
          a(href='http://www.aoyou.com/domesticpackage/p91475i2', target='_blank')
            img(src=publicsrc+"images/image016.png")
          a(href='http://www.aoyou.com/domesticpackage/p56452i2', target='_blank')
            img(src=publicsrc+"images/image017.png")
          a(href='http://www.aoyou.com/domesticgroup/g109047i2', target='_blank')
            img(src=publicsrc+"images/image018.png")
          a(href='http://www.aoyou.com/domesticpackage/p32996i2', target='_blank')
            img(src=publicsrc+"images/image019.png")
          a(href='http://www.aoyou.com/domesticpackage/p67124i2', target='_blank')
            img(src=publicsrc+"images/image020.png")
        .first-page#page5
          a(href='http://www.aoyou.com/domesticgroup/g56940i2', target='_blank')
            img(src=publicsrc+"images/image021.png")
          a(href='http://www.aoyou.com/domesticgroup/g84928i2', target='_blank')
            img(src=publicsrc+"images/image022.png")
          a(href='http://www.aoyou.com/domesticgroup/g82054i2', target='_blank')
            img(src=publicsrc+"images/image023.png")
          a(href='http://www.aoyou.com/domesticpackage/p34818i2', target='_blank')
            img(src=publicsrc+"images/image024.png")
          a(href='http://www.aoyou.com/domesticgroup/g17381i2', target='_blank')
            img(src=publicsrc+"images/image025.png")


      a.dz#wraper07(href='http://www.aoyou.com/dingzhi/', target='_blank')
        img(src=publicsrc+"images/dz.png")
  .wraper07.wid#wraper08
    .main
      include activity
