.wrapper
  .content.wrapper01#wrapper01
    .main.con01
      .tit
        img(src=publicsrc + 'images/title1.png')
        .rulebtn
        .rulecon
          p 1、本次活动用户在遨游（门店、微店、呼叫中心、遨游旅行APP、WAP站）下单且全额支付，方可享受立减500元/单优惠；
            |<br> 2、单笔订单（含2人以上）满10000元（含10000元）减500元优惠；
            |<br> 3、活动时间为2017年8月11日14时0分0 秒至2017年8月18日23时59分59秒之间开展，每天名额有限，抢完为止（每日上午10：00刷新当日优惠名额）；
            |<br> 4、立减优惠只限部分指定产品享受，特价产品、邮轮产品、高端耀悦产品、机票门票等产品均不参加此活动；
            |<br> 5、活动仅限中青旅遨游北京区域站点进行；
            |<br> 6、立减优惠以24小时内成功支付为准，如名额抢光或超时未支付均视为自动放弃优惠资格，遨游不再予以追加。
            |<br> 7、此活动不与站内其他形式优惠共享。
            |<br> 8、若发生退款，优惠部分的金额将不予退回。
            |<br> 9、参与本活动即视为理解并同意本活动规则，如在预定中存在困难或疑问，请联络遨游网客服热线400-600-6666进行咨询
            |<br> 10、本活动规则如有变动，请以网站最新页面为准。
      ul.con.clearfix#con01
        - if (redata)
          - if(redata.con01)
            !=redata.con01
  .content.wrapper02#wrapper02
    .main.con02
      .tit
        img(src=publicsrc + 'images/title2.png')
      ul.tab.tab02.clearfix
        li.on(data-titleid="8041")
          span 马尔代夫
        li(data-titleid="8042")
          span 毛里求斯
        li(data-titleid="8043")
          span 巴厘岛
        li(data-titleid="8044")
          span 塞班岛
        li(data-titleid="8045")
          span 夏威夷
        li(data-titleid="8046")
          span 长滩岛
        //li(data-titleid="8047")
        //  span 斯里兰卡
        li(data-titleid="8048")
          span 塞舌尔
      ul.con.clearfix#con02
        - if (redata)
          - if(redata.con02)
            !=redata.con02
  .content.wrapper03#wrapper03
    .main.con03
      .tit
        img(src=publicsrc + 'images/title3.png')
      ul.con.clearfix#con03
        - if (redata)
          - if(redata.con03)
            !=redata.con03
  .content.wrapper04#wrapper04
    .main.con04
      .tit
        img(src=publicsrc + 'images/title4.png')
      ul.con.clearfix#con04
        - if (redata)
          - if(redata.con04)
            !=redata.con04
  .content.wrapper05#wrapper05
    .main.con05
      .tit
        img(src=publicsrc + 'images/title5.png')
      ul.con.clearfix#con05
        - if (redata)
          - if(redata.con05)
            !=redata.con05
  .content.wrapper06#wrapper06
    .main.con06
      .tit
        img(src=publicsrc + 'images/title6.png')
      ul.con.clearfix#con06
        - if (redata)
          - if(redata.con06)
            !=redata.con06
  .content.wrapper07#wrapper07
    .main.con07
      .tit
        img(src=publicsrc + 'images/title7.png')
      ul.con.clearfix#con07
        - if (redata)
          - if(redata.con07)
            !=redata.con07
  .content.wrapper08#wrapper08
    .main.con08
      .tit
        img(src=publicsrc + 'images/title8.png')
      ul.con.clearfix#con08
        - if (redata)
          - if(redata.con08)
            !=redata.con08
  .content.wrapper09#wrapper09
    .main.con09
      .tit
        img(src=publicsrc + 'images/title9.png')
      ul.con.clearfix#con09
        - if (redata)
          - if(redata.con09)
            !=redata.con09
  .content.wrapper10#wrapper10
    .main.con10
      .tit
        img(src=publicsrc + 'images/title10.png')
      ul.con.clearfix#con10
        - if (redata)
          - if(redata.con10)
            !=redata.con10
  .content.wrapper11#wrapper11
    .main.con11
      .tit
        img(src=publicsrc + 'images/title11.png')
      include _activity
