.wraper
  .wraper01.wid#wraper01
    .main.con01
      .tit
        .ewm
          img(src=publicsrc+"images/ewm.png")
        .tit01 近期推荐
        a.icon(href='http://bbs.aoyou.com/thread-141304-1-1.html', target='_blank')
          span 写游记赢大奖
      ul.con.clearfix#con01
        - if (redata)
          - if(redata.con01)
              !=redata.con01 
  .wraper02.wid#wraper02
    .main.con02.clearfix
      .tit.tit02 精选爆款
      .clearfix.city
        .city-info
          .city-con.city-con01
            h3 乌兹别克斯坦
            .text
              p.text01 是一个位于中亚的内陆国家，是世上两个双重内陆国之一，是著名的“丝绸之路”古国，历史上与中国通过“丝绸之路”有着悠久的联系。
              p.text02 著名景点：列基斯坦”神学院；兀鲁伯天文台；古尔－艾米尔陵墓
          .city-con.city-con02
            h3 斯里兰卡
            .text
              p.text01 斯里兰卡有"宝石王国"、"印度洋上的明珠"的美称，被马可·波罗认为是最美丽的岛屿。斯里兰卡是古代丝绸之路的重要一环
              p.text02 著名景点：本托塔（Bentota）海滩kandy(康缇)古城暮色Bentota Panchi
          .city-con.city-con03
            h3 马来西亚
            .text
              p.text01 马来西亚是一个新兴的多元化经济国家。经济在1990年代突飞猛进，为“亚洲四小虎”国家之一，是资本主义国家。
              p.text02 著名景点：沙巴；荷兰红屋；马六甲
          .city-con.city-con04
            h3 俄罗斯
            .text
              p.text01 俄罗斯位于欧亚大陆北部，地跨欧亚两大洲，俄罗斯以平原和高原为主的地形。地势南高北低，西低东高。除此以外，俄罗斯还是金砖国家之一。
              p.text02 著名景点：普希金广场；大彼得罗夫大剧院；彼得大帝夏宫
          .city-con.city-con05(style="display:block;")
            h3 意大利
            .text
              p.text01 "意大利作为一带一路在欧洲大陆的起点，其作用不可小觑。从古丝绸之路的终点到一带一路的新起点，威尼斯跨越了千年。"
              p.text02 著名景点：圆形竞技场；威尼斯；米兰大教堂
          .city-con.city-con06
            h3 土耳其
            .text
              p.text01 古代陆上丝绸之路的终点。历史上著名的丝绸之路先抵达西北部城市布尔萨，然后继续蜿蜒西行，跨过博斯普鲁斯海峡上的亚欧大陆桥，就到了第一大城市伊斯坦布尔。
              p.text02 著名景点：阿耳忒弥斯神庙；精灵烟囱；托普卡匹皇宫
          .city-con.city-con07
            h3 肯尼亚
            .text
              p.text01 肯尼亚是古代海上丝绸之路的重要一站。非洲从远古至近代在丝绸之路贸易中都起着重要作用，东非海岸一直以来是海上重要的贸易地。
              p.text02 著名景点：风车；郁金香公园；水坝广场
          .city-con.city-con08
            h3 荷兰
            .text
              p.text01 荷兰是一个高度发达的资本主义国家，以海堤、风车、郁金香和宽容的社会风气而闻名
              p.text02 著名景点：风车；郁金香公园；水坝广场
          .city-con.city-con09
            h3 希腊
            .text
              p.text01 是地处欧洲东南角、巴尔干半岛的南端的共和制国家。全国由半岛南部的伯罗奔尼撒半岛和爱琴海中的3000余座岛屿共同构成。
              p.text02 著名景点：雅典卫城；克诺索斯遗址；迈泰奥拉修道院
          .city-con.city-con10
            h3 伊朗
            .text
              p.text01 拥有悠久历史和光辉灿烂文化的文明古国,并且亦是开创和经营联结东西方和闻名遐迩的古代丝绸之路上的举足轻重的东方国家。
              p.text02 著名景点：恰高·占比尔；波斯波利斯 伊斯法汗王侯广场
          .city-con.city-con11
            h3 印度
            .text
              p.text01 印度是世界四大文明古国之一，南亚次大陆最大国家。印度经济产业多元化，涵盖农业、手工艺、纺织以至服务业。
              p.text02 著名景点：阿旃陀石窟；泰姬陵；埃罗拉石窟
          .city-con.city-con12
            h3 越南
            .text
              p.text01 位于东南亚的中南半岛东部，国土狭长，面积约33万平方公里，紧邻南海，海岸线长3260多公里。
              p.text02 著名景点：巴亭广场；下龙湾；圣母大教堂
          .city-con.city-con13
            h3 印尼
            .text
              p.text01 印尼由约17508个岛屿组成，是马来群岛的一部分，也是全世界最大的群岛国家，疆域横跨亚洲及大洋洲，别称“千岛之国”。
              p.text02 著名景点：苏门答腊热带雨林；乌戎库隆国家公园；巴兰班南
          .city-con.city-con14
            h3 中国
            .text
              p.text01 “一带一路”（英文：The Belt and Road，缩写B&R）是“丝绸之路经济带”和“21世纪海上丝绸之路”的简称。
              p.text02 著名景点：新疆；福建；上海；广州
        ul.city-tab
          li.li01(data-titleid="7282")
            span
            .name
          li.li02(data-titleid="7283")
            span
            .name
          li.li03(data-titleid="7284")
            span
            .name
          li.li04(data-titleid="7285")
            span
            .name
          li.li05.on(data-titleid="7286")
            span
            .name
          li.li06(data-titleid="7287")
            span
            .name
          li.li07(data-titleid="7288")
            span
            .name
          li.li08(data-titleid="7289")
            span
            .name
          li.li09(data-titleid="7290")
            span
            .name
          li.li10(data-titleid="7291")
            span
            .name
          li.li11(data-titleid="7292")
            span
            .name
          li.li12(data-titleid="7293")
            span
            .name
          li.li13(data-titleid="7294")
            span
            .name
          li.li14(data-titleid="7295")
            span
            .name
      ul.con.clearfix#con02
        - if (redata)
          - if(redata.con02)
              !=redata.con02 
      a.more(href='http://www.aoyou.com/search/b1-l116', target='_blank') 更多产品推荐<span>>></span>
  .wraper03.wid#wraper03
    .main.con03.clearfix
      .tit.tit02 当地玩乐
      ul.con.clearfix#con03
        - if (redata)
          - if(redata.con03)
              !=redata.con03 
      a.more(href='http://tour.aoyou.com/', target='_blank') 更多产品推荐<span>>></span>
  .wraper04.wid#wraper04
    .main.con04
      .tit.tit01 玩转攻略
      .con.clearfix
        .fl
          a(href='http://bbs.aoyou.com/thread-139141-1-1.html', target='_blank')
            img(src=publicsrc+"images/gl01.jpg",alt="莫斯科#俄罗斯的心脏 ")
        .fl
          a(href='http://bbs.aoyou.com/thread-117882-1-1.html', target='_blank',style="margin-bottom:7px;")
            img(src=publicsrc+"images/gl02.jpg",alt="荷兰：阿姆斯特丹、海牙")
          a(href='http://bbs.aoyou.com/thread-137486-1-1.html', target='_blank')
            img(src=publicsrc+"images/gl03.jpg",alt="意大利圣诞跨年游杂记——威尼斯")
        .fl
          a(href='http://bbs.aoyou.com/thread-139653-1-1.html', target='_blank')
            img(src=publicsrc+"images/gl04.jpg",alt="希腊~那一抹蓝")
        .fl(style="margin-right:0;")
          a(href='http://bbs.aoyou.com/thread-114675-1-1.html', target='_blank',style="margin-bottom:7px;")
            img(src=publicsrc+"images/gl05.jpg",alt="马来西亚纪行＃在尚好的青春遇到你")
          a(href='http://bbs.aoyou.com/thread-141018-1-1.html', target='_blank')
            img(src=publicsrc+"images/gl06.jpg",alt="在越南寻找法式情怀的胡志明市")
    .main.con05#wraper05
      .tit
        h3 更多精彩 尽在遨游
        p More Surprise
      include activity

