.wraper
  .wraper01.wid#wraper01
    .main.con01
      p.text_p_1 玩转上海迪士尼度假区
      p.text_p_2 活动信息：上海迪士尼乐园门票 立减20元/单
      .tit
        img(src=publicsrc+"images/title_arrow.jpg")
      ul.smalltab
        li.selected 上海迪士尼度假区一日票
        li 上海迪士尼度假区二日票
      ul.con.clearfix.day1
        li.itemtwo
          a.fl(href='http://piao.aoyou.com/dest/t461.html', target='_blank')
            span.corner
            img(src=publicsrc + "images/ticket_01.jpg", alt='上海迪士尼乐园成人一日票')
          .fr
            h3
              a(href='http://piao.aoyou.com/dest/t461.html', target='_blank', title='上海迪士尼乐园成人一日票') 上海迪士尼乐园成人一日票
            .clearfix
              p.price
                span ￥
                | 370
                b 起
              a.reserve-btn(href='http://piao.aoyou.com/dest/t461.html', target='_blank') 立即预订
        li.itemtwo
          a.fl(href='http://tour.aoyou.com/ep1199', target='_blank')
            span.corner
            img(src=publicsrc + "images/ticket_02.jpg", alt='上海迪士尼乐园一日情侣套票')
          .fr
            h3
              a(href='http://tour.aoyou.com/ep1199', target='_blank', title='上海迪士尼乐园一日情侣套票') 上海迪士尼乐园一日情侣套票
            .clearfix
              p.price
                span ￥
                | 740
                b 起
              a.reserve-btn(href='http://tour.aoyou.com/ep1199', target='_blank') 立即预订
        li.itemtwo
          a.fl(href='http://tour.aoyou.com/ep1199', target='_blank')
            span.corner
            img(src=publicsrc + "images/ticket_03.jpg", alt='上海迪士尼乐园一日家庭套票')
          .fr
            h3
              a(href='http://tour.aoyou.com/ep1199', target='_blank', title='上海迪士尼乐园一日家庭套票') 上海迪士尼乐园一日家庭套票
            .clearfix
              p.price
                span ￥
                | 1020
                b 起
              a.reserve-btn(href='http://tour.aoyou.com/ep1199', target='_blank') 立即预订
      ul.con.clearfix.day2
        li.itemtwo
          a.fl(href='http://www.aoyou.com/DomesticPackage/P118943i2', target='_blank')
            span.corner
            img(src=publicsrc + "images/ticket_01.jpg", alt='上海迪士尼乐园成人二日票')
          .fr
            h3
              a(href='http://www.aoyou.com/DomesticPackage/P118943i2', target='_blank', title='上海迪士尼乐园成人二日票') 上海迪士尼乐园成人二日票
            .clearfix
              p.price
                span ￥
                | 670
                b 起
              a.reserve-btn(href='http://www.aoyou.com/DomesticPackage/P118943i2', target='_blank') 立即预订
        li.itemtwo
          a.fl(href='http://www.aoyou.com/DomesticPackage/P118943i2', target='_blank')
            span.corner
            img(src=publicsrc + "images/ticket_02.jpg", alt='上海迪士尼乐园二日情侣套票')
          .fr
            h3
              a(href='http://www.aoyou.com/DomesticPackage/P118943i2', target='_blank', title='上海迪士尼乐园二日情侣套票') 上海迪士尼乐园二日情侣套票
            .clearfix
              p.price
                span ￥
                | 1340
                b 起
              a.reserve-btn(href='http://www.aoyou.com/DomesticPackage/P118943i2', target='_blank') 立即预订
        li.itemtwo
          a.fl(href='http://www.aoyou.com/DomesticPackage/P118943i2', target='_blank')
            span.corner
            img(src=publicsrc + "images/ticket_03.jpg", alt='上海迪士尼乐园二日家庭套票')
          .fr
            h3
              a(href='http://www.aoyou.com/DomesticPackage/P118943i2', target='_blank', title='上海迪士尼乐园二日家庭套票') 上海迪士尼乐园二日家庭套票
            .clearfix
              p.price
                span ￥
                | 1850
                b 起
              a.reserve-btn(href='http://www.aoyou.com/DomesticPackage/P118943i2', target='_blank') 立即预订
  .wraper02.wid#wraper02
    .main.con02
      p.text_p_1 玩转上海迪士尼度假区
      .tit
        img(src=publicsrc + "images/title_arrow.jpg")
      .content.clearfix
        .fl.leftcontent
          img(src=publicsrc+"images/disneymap.jpg")
        .fr.rightcontent
          p 上海迪士尼度假区是一个特别为中国游客设计和打造的世界级家庭娱乐目的地。这里可供游客尽享多日休闲娱乐时光。整个度假区于2016年6月开幕，包括：一座主题乐园——适合所有人游玩、以神奇王国风格打造的“上海迪士尼乐园”，由六大主题园区组成，包括：“米奇大街”、“奇想花园”、“探险岛”、“明日世界”、“宝藏湾”及拥有“奇幻童话城堡”的“梦幻世界”。
          p 两座主题酒店——包括拥有420间客房、优雅别致的“上海迪士尼乐园酒店”以及拥有800间客房、充满童趣的“玩具总动员酒店”。
          p 一个国际级的购物餐饮娱乐区——“迪士尼小镇”，“华特迪士尼大剧院”将位于其中，上演全球首个普通话版本的百老汇热门音乐剧《狮子王》。
          p 一个由静谧的花园和波光粼粼的湖泊组成的休闲区——“星愿公园”，集美丽花园，惬意小道和波光粼粼的湖水于一身。
  .wraper03.wid#wraper03
    .main.con03
      p.text_p_1 上海迪士尼乐园
      p.text_p_2 精品路线推荐
      .tit
        img(src=publicsrc + "images/title_arrow.jpg")
      .content
        p.smalltitle 产品卖点:
        ul
          li
            span 目的地
            |&nbsp;&nbsp;上海迪士尼度假区，不分年龄，无论背景，将重新找回内心深处的童真。
          li
            span 交通
            |&nbsp;&nbsp;优质航班或高铁，充分的时间感受上海迪士尼度假区带来的乐趣。
          li
            span 酒店
            |&nbsp;&nbsp;入住上海迪士尼度假区的酒店，拥有全方位的迪士尼体验，感受昼夜不停歇的迪士尼魅力。
          li
            span 娱乐
            |&nbsp;&nbsp;上海迪士尼乐园畅玩，这里有你一定不能错过的游乐项目、娱乐演出，原创故事和音乐，以及全新的主题园区。
          li
            span 餐饮
            |&nbsp;&nbsp;享受上海迪士尼乐园中六大园区不同风格的美食。
  .wraper04.wid#wraper04
    .main.con04
      p.text_p_1 上海一地游
      .tit
        img(src=publicsrc + "images/title_arrow.jpg")
      p.text_p_3 上海迪士尼度假区、外滩、南京路、黄浦江、陆家嘴、东方明珠广播电视塔
      .content.clearfix
        .fl.leftcontent
          img(src=publicsrc + "images/disneybaidu1.jpg")
        .fr.rightcontent
          ul.con.clearfix#con04
            - if (redata)
              - if(redata.con04)
                !=redata.con04
      .morelines
        a(href="http://www.aoyou.com/search/b1-k%E4%B8%8A%E6%B5%B7%E8%BF%AA%E5%A3%AB%E5%B0%BC/" target="_blank")
          img(src=publicsrc + "images/morelines.jpg")
  .wraper05.wid#wraper05
    .main.con05
      p.text_p_1 上海+周边游
      .tit
        img(src=publicsrc + "images/title_arrow.jpg")
      p.text_p_3 上海迪士尼度假区、城隍庙、新天地、世博园、乌镇、常州、苏州、杭州
      .content.clearfix
        .fl.leftcontent
          img(src=publicsrc + "images/disneybaidu2.jpg")
        .fr.rightcontent
          ul.con.clearfix#con05
            - if (redata)
              - if(redata.con05)
                !=redata.con05
      .morelines
        a(href="http://www.aoyou.com/search/b1-k%E4%B8%8A%E6%B5%B7%E8%BF%AA%E5%A3%AB%E5%B0%BC/" target="_blank")
          img(src=publicsrc + "images/morelines.jpg")
      p.text_p_1 更多精彩 尽在遨游旅行
      p.text_p_2 More Surprise
  .wraper06.wid#wraper06
    .main.con06
      ul.con.jchdCon.clearfix
        li
          a(href="http://activity.aoyou.com/hd/haidao/" target="_blank")
            img(src=publicsrc + "images/active_01.jpg")
        li
          a(href="http://hd.aoyou.com/shiyi/" target="_blank")
            img(src=publicsrc + "images/active_02.jpg")
        li(style="padding-right:0px;")
          a(href="http://activity.aoyou.com/hd/heilongjiang/" target="_blank")
            img(src=publicsrc + "images/active_03.jpg")